<div class="da-panel-content">
  <% if notice %>
    <div class="da-message success">
      <strong><%= notice %></strong>
    </div>
  <% end %>

<% if alert %>
  <div class="da-message error">
          <strong><%= alert %></strong>
    </div>
  <% end %>
</div>